<ion-view view-title="ជ្រេីសរេីសទំរង់មានស្រាប់">
  <ion-content class="padding">
    <form name="formSelections" ng-submit="saveActiveElements(customElements)">
      <ion-list ng-repeat='element in customElements'>

        <ion-item>
          <ion-checkbox style='border: none;' ng-model="element.active">{{element.name}}</ion-checkbox>
          <label class='item-input-inset item-stacked-label'>
            តំលៃអនុភាពគិតជាវ៉ាត់ (W) លំនាំស្រាប់
            <div class="item-input-wrapper">
              <input class="item-input-wrapper" type="number" ng-model='element.consumption'>
            </div>
          </label>
        </ion-item>

      </ion-list>
      <button class='button button-block button-positive' type='submit'>
        <span>រក្សាទុក</span>
      </button>

    </form>
  </ion-content>
</ion-view>
